.glass{

    

      background-image: linear-gradient(92.88deg, #d32626 9.16%, #b71d09 43.89%, #d73f3f 64.72%);
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      flex-shrink: 0;
      font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
      font-size: x-large;
      font-weight: 500;
      padding: 0 1.6rem;
      text-align: center;
      text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
      transition: all .5s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      height: 150px;
      width:200px
    }
    .glass:hover {
      box-shadow: rgba(130, 1, 1, 0.5) 0 1px 30px;
      transition-duration: .1s;
    }
    
    @media (min-width: 768px) {
      .glass{
        padding: 0 2.6rem;
      }
    }
.rowcont{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cont
{
height:90vh;
display: flex;
justify-content: center;
align-items: center;
}